/*START SNIPPET: layout2CHF_css*/
html, body, div, dd, dt, dl, img, ul, ol, li, p, h1, h2, h3, h4, h5, form, td {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 20px;
}

img {
    border: 0;
}

html {
    height: 100%;
    max-height: 100%;
    border: 0;
    background: #fff;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    border: 0;
}

#header {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100px;
    z-index: 5;
    overflow: hidden;
    color: #000;
}

#header #logo {
    position: absolute;
    top: 0;
    left: 0;
}

.droplineMenu {
    border: 1px solid #003366;
    height: 30px;
}

.menuTab {
    border: none;
}

#left {
    position: absolute;
    left: 0px;
    top: 130px;
    bottom: 35px;
    width: 150px;
    border-right: 2px solid #003366;
    z-index: 1;
    overflow: visible;
}

/* hack IE6 */
* html #left {
    height: 100%;
    top: 0px;
    bottom: 0px;
    border-top: 130px solid #fff;
    border-bottom: 35px solid #fff;
    color: #fff;
}

#content {
    overflow: auto;
    position: absolute;
    z-index: 0;
    top: 130px;
    bottom: 35px;
    left: 150px;
    right: 0px;
    text-align: left;
}

/* hack IE6 */
* html #content {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    max-height: 100%;
    width: 100%;
    overflow: auto;
    position: absolute;
    z-index: 0;
    border-top: 130px solid #fff;
    border-bottom: 35px solid #fff;
    border-left: 150px solid #fff;
}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 35px;
    z-index: 5;
    overflow: hidden;
    border-top: 2px solid #003366;
    text-align: center;
    background-color: #fff;
}
